<html>
  <head></head>
  <body>
    <h1>Hello from caroline's music library website :-D</h1>
    <p>
      <a href='/albums'>List of Albums</a>
    </p>
    <p>
      <a href='/artists'>List of Artists</a>
    </p>
  </body>
</html>