<html>
<head></head>
<body>
    <h1>Add an artist</h1>
    <form action="/artists" method="POST">
        <div>
        <label>name:</label>
        <input type="text" name="name">
        </div>
        <div>
        <label>genre:</label>
        <input type="text" name="genre">
        </div>
        <input type="submit" value="Submit the form">
    </form>
</body>
</html>